body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    padding: 40px;
    background: #0d0d0d;
    color: white;
}

nav {
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #66b3ff;
}

main {
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 40px;
}

h2 {
    color: white;
}

a {
    color: #66b3ff;
}

article {
    padding: 30px;
    margin-bottom: 30px;
    background: #151515;
    border: 1px solid #333;
    border-radius: 15px;
}

article img {
    max-width: 100%;
    max-height: 500px;
    margin: 20px 0;
    border-radius: 12px;
}

.comentario {
    padding: 15px;
    margin: 15px 0;
    border-bottom: 1px solid #333;
}

input,
textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    padding: 12px;
    background: #1a1a1a;
    color: white;
    border: 1px solid #444;
    border-radius: 8px;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

button {
    padding: 10px 20px;
    background: #66b3ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* use la misma idea visual de mi portfolio