{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Joaquín Catoraz</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>

<body>

    <nav>
        <a href="/">Inicio</a>
        <a href="/blog/">Blog</a>
    </nav>

    <main>
        <h1>Mi Blog</h1>

        {% for post in posts %}
            <article>
                <h2>
                    <a href="{% url 'blog:detalle_post' post.id %}">
                        {{ post.titulo }}
                    </a>
                </h2>

                {% if post.imagen %}
                    <img src="{{ post.imagen.url }}" width="300">
                {% endif %}

                <p>{{ post.texto }}</p>
                <small>{{ post.fecha }}</small>
            </article>
        {% empty %}
            <p>No hay publicaciones todavía.</p>
        {% endfor %}
    </main>

</body>
</html>
<!-- muestra todos los posts que creamos desde la carpeta admin, incluyendo titulo, texto, fecha e imagen-->