{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Joaquín Catoraz</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>

<body>

    <nav>
        <a href="/">Inicio</a>
        <a href="/blog/">Blog</a>
    </nav>

    <main>
        <h1>Mi Blog</h1>
        <div style="display: flex; gap: 12px; margin-bottom: 35px;">
            <a href="{% url 'blog:ordenar_posts' 'nuevo' %}"
            style="padding: 10px 18px; background: #151515; border: 1px solid #333; border-radius: 10px; color: white; text-decoration: none;">
                Mas nuevos
            </a>

            <a href="{% url 'blog:ordenar_posts' 'viejo' %}"
            style="padding: 10px 18px; background: #151515; border: 1px solid #333; border-radius: 10px; color: white; text-decoration: none;">
                Mas viejos
            </a> <!-- pongo los botones de mas viejo o mas nuevo con un estilo mas elavorado-->
        </div>
        {% for post in posts %}
            <article>
                <h2>
                    <a href="{% url 'blog:detalle_post' post.id %}">
                        {{ post.titulo }}
                    </a>
                </h2>

                {% if post.imagen %}
                    <img src="{{ post.imagen.url }}" width="300">
                {% endif %}

                <p>{{ post.texto }}</p>
                <small>{{ post.fecha }}</small>
                <p>
                    <a href="{% url 'blog:filtrar_categoria' post.categoria %}">
                        #{{ post.categoria }}
                    </a>
                </p>
            </article>
        {% empty %}
            <p>No hay publicaciones todavía.</p>
        {% endfor %}
    </main>
    <footer>
        <p>© 2026 Joaquin Catoraz</p>
        <p>
            <a href="mailto:TU_MAIL">jcatoraz@gmail.com</a>
            |
            <a href="https://github.com/jcatoraz-arch" target="_blank">GitHub</a>
        </p>
    </footer>



</body>
</html>
<!-- muestra todos los posts que creamos desde la carpeta admin, incluyendo titulo, texto, fecha e imagen-->